* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  padding: 4rem;
}

.box {
  width: 6rem;
  aspect-ratio: 1;
  border-radius: 0.15rem;
}

.box-1 {
  background-color: brown;
}

.box-2 {
  background-color: chartreuse;
  margin-block: 1rem;
}

.box-3 {
  background-color: palevioletred;
  margin-block: 1rem;
}

.box-4 {
  background-color: yellow;
  margin-block: 1rem;
}
