* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background: #e4ecf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

svg {
  width: 75vw;
}

#nav {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color: greenyellow;
  border-radius: 0.25rem;
  transition: 200ms;
}

button:hover,
button:active,
button:focus-visible {
  background-color: yellowgreen;
}

#progressSlider {
  width: 500px;
  margin-inline: 1rem;
}
